---
layout: default
title: About Me
---
<div class="about-me">
    <div class="header-section">
        <div class="header-background-filter">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="content-section">
        <div class="container">
            <p>
                <img src="/assets/images/about1.jpg" class="desktop-image" />
                Nancy Wang is currently a <b>Computer Science</b> and Economics
                Student at <b>The Johns Hopkins University</b> in Baltimore, and
                will be graduating with an undergraduate degree in 2020.
                Nancy is very passionate about environmental awareness as well
                as social good. Outside of classes, a lot of her activities
                revolve around these fields. She wishes to use her skills in
                technology to help those in need.
                <img src="/assets/images/about1.jpg" class="mobile-image" />
            </p>
            <p>
                During her summer breaks she has interned at <b>Microsoft</b>
                and
                <b>Karuna Labs</b> as a Software Engineer and as a Product
                Manager.
            </p>
            <p>
                Another big part of her University life is being a Resident
                Advisor to freshman. She takes the role very seriously and takes
                good care of her residents and give them good advice to help
                them ease into college life.
            </p>

        </div>
    </div>
</div>