---
layout: default
title: Blob
---
<div class="blog">
    <div class="header-section">
        <div class="header-background-filter">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="content-section">
        <div class="container">
            {% for post in site.posts %}
            <div class="post">
                <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                <p>{{ post.date | date: '%B %d, %Y' }}</p>
                {{ post.excerpt }}
                <p><a href="{{ post.url | relative_url }}">...</a></p>
                <hr/>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>