---
layout: default
---
<div class="post-page">
    <div class="header-section">
        <div class="header-background-filter">
            <h1>Blob</h1>
        </div>
    </div>
    <div class="post-section">
        <div class="container">
            <h1>{{ page.title }}</h1>
            <p>{{ page.date | date: '%B %d, %Y' }}</p>
            {{ content }}
        </div>
    </div>
</div>